<!DOCTYPE html>
<head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Mallanna&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Mallanna&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/scripts/global.js?{{id}}"></script>
	<script type="text/javascript" src="/static/scripts/DOMManager.js?{{id}}"></script>
	<script type="text/javascript" src="/static/scripts/SchoolEditor.js?{{id}}"></script>
	<script type="text/javascript" src="/static/scripts/YesNoDialog.js?{{id}}"></script>
	<script type="text/javascript" src="/static/scripts/SchoolsManager.js?{{id}}"></script>
	<script type="text/javascript" src="/static/scripts/Edu.js?{{id}}"></script>
</head>
<html>
	<body>
		<div id="root"></div>
		<div id="admin">
		</div>
		<div id="student">
		</div>
	</body>
	<script>
		window.onload = function () {
			DOMManager.render(
				Edu,
				document.getElementById('root')
			);
		};
	</script>
</html>