
#Header > .mfn-main-slider{
    background: linear-gradient(132deg, #7f25d9, #5c12a6, #2f0459, #7c29ce);
    background-size: 800% 800%;

    -webkit-animation: hero-dim 22s ease infinite;
    -moz-animation: hero-dim 22s ease infinite;
    animation: hero-dim 22s ease infinite;
}

@-webkit-keyframes hero-dim {
    0%{background-position:41% 0%}
    50%{background-position:60% 100%}
    100%{background-position:41% 0%}
}
@-moz-keyframes hero-dim {
    0%{background-position:41% 0%}
    50%{background-position:60% 100%}
    100%{background-position:41% 0%}
}
@keyframes hero-dim {
    0%{background-position:41% 0%}
    50%{background-position:60% 100%}
    100%{background-position:41% 0%}
}
