.canvas {
	position: absolute;
	background-color: transparent;
	margin-left: 0;
	z-index: 1;
}
.grid_canvas {
	position: absolute;
	background-color: rgba(172, 255, 47, 0);
	/* margin-left: 20%; */
	z-index: 0;
	color: #e6e6e654;
}
