.container {
	position: absolute;
	width: auto;
	margin-left: 80px;
	height: 100%;
	padding-bottom: 200px;
	/* margin: 0; */
	top: 128;
	color: blue;
	background-image: linear-gradient(to right, var(--board_color), var(--board_color_end));
	/*background-image: linear-gradient(to right, #041530, #010b1b);*/
}