#helper {
	/* display: none !important; */
	top: 0;
	left: 0;
	position: absolute;
	z-index: 40;
	padding: 12px 12px 12px 24px;
	border-radius: 12px;
	background-color: rgb(255, 255, 255);
	backdrop-filter: blur(5px);
	clip-path: polygon(0% 50%, 12px calc(50% - 12px),
				12px 9px, 13px 6px, 14px 4px, 15px 3px, 16px 2px, 17px 2px, 18px 1px, 19px 1px, 20px 0px,
				100% 0%, 100% 100%,
				20px calc(100%), 19px calc(100% - 1px), 18px calc(100% - 1px), 17px calc(100% - 2px), 16px calc(100% - 2px),
				15px calc(100% - 3px), 14px calc(100% - 4px), 13px calc(100% - 6px), 12px calc(100% - 9px), 12px calc(50% + 12px));
}
#helper h1 {
	width: 200px;
	height: 80px;
	backdrop-filter: blur(0px);
}
#helper p {
	font-family: monospace;
	color: grey;
}