:root {
	--font: 'Mallanna', sans-serif;
	--menu_back: #150135;
	--menu_li: #5e2454;
}
.menus {
	position: absolute;
	top: 100px;
	padding: 0px;
	background-color: var(--menu_back);
	z-index: 10;
	font-family: 'Mallanna', sans-serif;
	visibility: hidden;
	max-height: 400px;
	overflow-y: scroll;
}
.menus::-webkit-scrollbar {
	width: 6px;
	height: 0px;
	background-color: rgb(233, 239, 250);
}
.menus::-webkit-scrollbar-thumb {
	background-color: #5d024e;
	border-radius: 4px;
}
.menus ul {
	margin: 0;
	padding: 0;
	
}
.menus li {
	list-style: none;
	cursor: pointer;
	
	margin: 0;
	padding: 8px 40px;
	border: 1px solid rgba(128, 128, 128, 0.24);
	color: white;

}
.menus li:hover {
	background-color: aquamarine;
	color: var(--menu_back);
}
.menus li:active {
	background-color: rgb(83, 9, 117);
	color: white;
}
.types {
	display: none;
	background-color: rgba(0, 0, 0, 0.548);
	position: absolute;
	z-index: 20;
	width: 100vw;
	height: 100vw;
	padding: 30px 120px;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 340px 340px 340px;
	grid-row-gap: 40px;
	grid-column-gap: 40px;
	font-family: var(--font);
}
.types div {
	display: block;
	padding: 20px;
	background-color: white;
	border-radius: 12px;
	cursor: pointer;
}
.types img {
	width: 40px;
	height: 40px;
	background-color: rgba(255, 228, 196, 0.158);
	border: 1px solid rgba(128, 128, 128, 0.582);
	padding: 12px;
	border-radius: 12px;
	margin-left: 96px;
}
.types h1 {
	font-size: 20px;
	text-align: center;
}
.types p {
	line-height: 16px;
}
.types button {
	background-color: rgba(153, 229, 143, 0.678);
	color: green;
	padding: 12px;
	font-size: 14px;
	border-radius: 12px;
	border: none;
	cursor: pointer;
	outline: none;
	margin-left: 100px;
}
.types button:hover {
	box-shadow: 2px 2px 6px rgba(108, 189, 76, 0.527);
}
.types button:active {
	background-color: rgba(37, 145, 23, 0.678);
	color: white;
}
.options_container {
	max-width: 500px;
	margin-left: 20px;
}
.node_desc {
	display: none;
	background-color: white;
	color: rgb(68, 68, 68);
	padding: 12px 24px;
	position: absolute;
	top: 0;
	right: 0px;
	max-width: 90%;
	min-width: 90%;
	box-shadow: 0px 0px 10px black;
}
.options_container h2 {
	background-color: white;
	color: rgba(0, 0, 0, 0.548);
	font-size: 12px;
	font-family: monospace;
	width: fit-content;
	padding: 8px 12px;
	margin: 4px 8px 4px 8px;
	border-radius: 12px;
	box-shadow: 0px 0px 5px black;
	cursor: pointer;
}
.options_container h2:hover {
	background-color: rgb(127, 124, 177);
	color: white;
}
.options_container h2:active {
	background-color: rgb(187, 91, 243);
	color: white;
}
.category h1 {
	max-width: 140px;
	min-width: 140px;
	color: rgb(133, 133, 133);
	font-size: 12px;
	line-height: 12px;
	font-style: italic;
	/* background-color: aqua; */
}
.category h3 {
	max-width: 140px;
	min-width: 140px;
	color: rgb(77, 12, 57);
	font-size: 16px;
	line-height: 16px;
	/* background-color: bisque; */
}
.nodes_inf {
	display: block;
	max-width: 140px;
}
.category {
	font-weight: bold;
	background-color: white;
	color: black;
	padding: 20px 40px;
	border-bottom: 1px solid grey;
	display: flex;
	/*
	grid-template-columns: repeat(3, 1fr); */
}
.add_user {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	backdrop-filter: blur(5px);
	z-index: 50;
}
.add_user > [cont="add"]{
	border-radius: 18px;
	background-color: white;
	padding: 24px;
	position: absolute;
	width: calc(50% - 4px);
	top: 10%;
	left: 25%;
}
[for="new_user"] {
	font-family: var(--font);
	color: grey;
	font-weight: bold;
}
[name="new_user"] {
	width: 100%;
	font-size: 18px;
	padding: 8px 12px;
	border-radius: 12px;
	outline: none;
	border: 1px solid grey;
	font-family: var(--font);
}
[cont="buttons"] {
	margin-top: 24px;
	display: grid;
	grid-template-columns: 40% 20% 40%;
	
}
.add_user button {
	width: 100%;
	border-radius: 8px;
	outline: none;
	cursor: pointer;
	padding: 8px 12px;
	font-size: 18px;
	border: none;
	font-weight: bold;
}
[close="true"] {
	background-color: rgb(220, 220, 220);
	color: grey;
}
[close="true"]:hover {
	background-color: rgb(167, 50, 50);
	color: white;
}
[add="true"] {
	background-color: #165185;
	color: white;
}
[add="true"]:hover {
	filter: saturate(1.8);
}
[add="true"]:active {
	filter: saturate(0.6);
}
.menu-board {
	width: 18px !important;
	height: 18px !important;
	background-size: cover !important;
	background-image: url(../svg/board_button.svg) !important;
	background-position: center;
	filter: contrast(200%);
}
.menu-board-hover {
	background-image: url(../svg/board_button_hover.svg) !important;
}
.menu-users {
	width: 18px !important;
	height: 18px !important;
	background-size: cover !important;
	background-image: url(../svg/add_user.svg) !important;
	background-position: center;
	filter: contrast(200%);
}
.menu-users-hover {
	background-image: url(../svg/add_user_hover.svg) !important;
}
.menu-nodes {
	width: 18px !important;
	height: 18px !important;
	background-size: cover !important;
	background-image: url(../svg/add_node.svg) !important;
	background-position: center;
	filter: contrast(200%);
}
.menu-nodes-hover {
	background-image: url(../svg/add_node_hover.svg) !important;
}