:root {
	--font: 'Nanum Gothic Coding', monospace;
}
.side_bar {
	width: 60px;
	height: calc(100% - 60px);
	top: 80;
	background-color: #855d7c;
	position: absolute;
	left: 0;
	cursor: pointer;
	display: none;
}
.top_bar .logo{
	height: 50px;
	line-height: 55px;
}
.top_bar {
	left: 0;
	top: 0;
	margin-top: 0;
	position: relative;
	width: 100%;
	background-color: #10040d;
	display: flex;
	z-index: 4;
	vertical-align: baseline;
}

.top_bar .utility_menu, .top_bar .utility_menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.top_bar .utility_menu > li.back i{
	line-height: 55px;
	margin-right: 10px;
}
.top_bar .utility_menu > li{
	float: left;
}
.top_bar .utility_menu h2{
	line-height: 16px;
	font-size: 16px;
	margin: 5px 0px 5px 0px;
}
.top_bar .utility_menu > li:last-child{
	clear: both;
}
.top_bar .utility_menu > li:last-child > ul > li{
	float:left;
	margin-right: 20px;
}
.top_bar .utility_menu > li:last-child > ul > li i{
	margin-right: 10px;
}

.top_bar h1 {
	line-height: 50px;
	font-size: 18px;
	color: white;
	font-family: var(--font);
}
.top_bar h2 {
	cursor: pointer;
	color: white;
	font-family: var(--font);
}
.top_bar h2:hover {
	color: #F29A2E;
}
.top_bar h2:active {
	background-color: #511829;
}
.left_top {
	max-width: 50vw;
	padding-left: 20px;
	padding-right: 20px;
	background-color: transparent;
}
.left_top div {
	margin-top: -10px;
	display: flex;
}
.tools {
	max-width: 50vw;
	background-color: transparent;
	height: 80px;
	padding-left: 20px;
	padding-right: 20px;
}
.tools button {
	margin-top: 20px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 50%;
	border: none;
	background-color: #48153e;
	margin-left: 12px;
	background-position: center;
	background-size: 30px;
	background-repeat: no-repeat;
	outline: none;
}
.tools button:hover {
	background-color: #622f57;
	box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.513);
}
.tools button:active {
	box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.513);
}
.coords {
	z-index: 4;
	position: relative;
	display: flex;
	color: white;
	font-family: var(--font);
	letter-spacing: var(--letter_spacing);
	width: 100%;
	height: 40px;
	background-color: rgba(128, 128, 128, 0.568);
}
.coords h2 {
	padding: 8px;
	font-size: 10px;
	letter-spacing: var(--letter_spacing);
}
.console {
	margin-top: 0;
	margin-left: 0;
	padding-left: 0;
	width: 100%;
	height: 24px;
	background-color: aliceblue;
	color: black;
	font-family: var(--font);
	font-size: 16px;
}
.toggle_console {
	width: 60px;
	height: 40px;
	cursor: pointer;
	border-radius: 20px 0 0 20px;
	background-color: grey;
	border: none;
	background-image: url('../images/right.png');
	background-position: center;
	background-size: 20px;
	background-repeat: no-repeat;
	outline: none;

}
.toggle_console:hover {
	background-color: rgb(216, 216, 216);
}
.toggle_console:active {
	background-color: rgba(0, 0, 0, 0.116);
}
.b_name {
	border: 2px solid white;
	border-radius: 8px;
	background-color: transparent;
	width: 200px;
	padding: 12px;
	margin-left: 0px;
	margin-top: 12px;
	display: none;
}
.board_name {
	padding: 0px 16px;
	border-radius: 12px;
}
.board_name:hover {
	background-color: grey;
}
.owner_tag {
	font-size: 10px;
	position: absolute;
	bottom: 0;
	left: 35vw;
}
.owner_tag:hover {
	color: #855d7c;
}
.delete_sign {
	color: purple;
	font-family: var(--font);
	font-size: 26px;
	position: absolute;
	right: 40px;
	top: 14px;
	margin: 0;
	display: none;
}
.trash_can {
	position: absolute;
	width: 50%;
	height: calc(100% - 36px);
	right: 0px;
	margin-top: 0;
	background-color: #165185;
	padding: 32px 4px;
	top: 0;
	font-size: 18px;
	text-align: left;
}
.trash_can:hover {
	color: white;
}
.trash_can i {
	margin-left: 80px;
	margin-right: 20px;
}