<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Board - Data in motion</title>
	<link rel="stylesheet" href="/static/styles/node.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/side_bar.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/container.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/canvas.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/slider.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/menus.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/board.css?{{ id }}">
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Mallanna&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/scripts/track_mouse.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/node_popup.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/views.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/tools.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/node_settings.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/connections.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/operations.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/draw.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/project_management.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/init.js?{{ id }}"></script>
</head>
<body>
	<div class="top_bar">
		<h2 style="margin: 0;
						text-align: center;
						width: 20px;
						height: calc(100% - 10px);
						position: absolute;
						top: 0px;
						left: 0px;"
						></h2>
			
		<div class="left_top">
			<h1 style="margin-left: 40px; margin-bottom: 0;">{{ board.name }}</h1>
			<h1 style="margin-left: 40px; font-size: 12px; margin-top: 0;">{{ board.id }}</h1>
			<div style="margin-left: 30px;">
				<!--<h2>options</h2>
				<h2>edit</h2>
				<h2>tools</h2>
				<h2>nodes</h2>-->
				<h2 menu="nodes" class="menu_nodes">nodes</h2>
				<h2 class="save">save</h2>
			</div>
		</div>
		<div>
			<div class="trash_can">

			</div>
		</div>
		<!-- <div class="tools">
			<button style="background-image: url('/static/images/run.png');"></button>
			<button></button>
		</div> -->
	</div>
	<div class="side_bar">
	</div>
	<div class="coords">
		<h2 class="x" style="width: 50px;"></h2>
		<h2 class="y" style="width: 50px;"></h2>
		<h2 class="selected" style="width: 150px;padding-top: 2px;"></h2>
		<button class="toggle_console"></button>
		<h2 class="console">DataInMotion v1 > </h2>
	</div>
	<div class="node_settings">
		<form action="">
			<div style="margin-top: 0; padding: 0; display: flex;">
				<div class="node_settings_tag"style="display: flex; border-radius: 12px 12px 0 0;background-color: blueviolet; width: 360px; height: 60px;">
					<div style="padding-left: 0;">
						<label style="color: white;margin-left: 0;">Node name<input name="node_name" type="text" placeholder="Node name"></label>
					</div>
					<h1 class="save_node">Save</h1>
				</div>
			</div>
			<div>
				<label for="" style="display: flex; padding-top: 4px;">
					<h1 style="margin-left: 12px; margin-right: 12px;font-size: 16px; max-width: 90px;">
						Work type</h1>
					<select name="work_type" id="">
						<option value="request">Request</option>
						<option value="process">Process</option>
					</select>
					<h1 style="margin-left: 24px; margin-right: 12px;font-size: 16px; max-width: 30px;">
						Auth</h1>
					<label class="switch">
						<input type="checkbox">
						<span class="slider round"></span>
					  </label>
				</label>
			</div>
			<div field="url">
				<label for=""> Url&nbsp;&nbsp;
					<input name="node_url" type="text">
				</label>
			</div>
			<div field="endpoint">
				<label for=""> Endpoint&nbsp;&nbsp;
					<input name="node_endpoint" type="text">
				</label>
			</div>
			<div field="headers">
				<label for="">
					Headers: &nbsp;&nbsp;
					<ul group='headers'>
					</ul>
					<div style="display: flex; width: 300px; background-color: transparent;margin-left: 0;">
						<input name="headers_key" style="width: 90px;" type="text" placeholder="key">
						<input class="value" name="headers_value" style="width: 90px;" type="text" placeholder="value">
						<h1 class="add head_add">add</h1>
					</div>
				</label>
			</div>
			<div>
				<label for="">
					Data: &nbsp;&nbsp;
					<ul group='data'>
					</ul>
					<div style="display: flex; max-width: 100vw; background-color: transparent;margin-left: 0;">
						<input name="data_key" style="width: 90px;" type="text" placeholder="key">
						<textarea name="data_value" class="value" style="width: 90px;" type="text" placeholder="value"></textarea>
						<h1 class="add data_add">add</h1>
					</div>
				</label>
			</div>
			<div>
				<label for="">
					Analisis mode &nbsp;&nbsp;
					<select name="analisis_mode" id="">
						<option value="none"></option>
						<option value="comparision">Comparision</option>
						<option value="replace">Replace</option>
						<option value="gen_signature">GenSignature</option>
						<option value="JSON">JSON</option>
						<option value="HTML">text or HTML</option>
					</select>
				</label>
			</div>
			<div>
				<label for="">
					Analisis Params: &nbsp;&nbsp;
				</label>
				<div style="display: flex; max-width: 100vw; background-color: transparent;margin-left: 0;">0.
					<input style="width: 90px;" type="text" placeholder="key">
					<input style="width: 90px;" type="text" placeholder="value">
					<input style="width: 90px;" type="text" placeholder="path">
				</div>
			</div>
		</form>
	</div>
	<div class="outnode_settings">
		<div class="out_opts">
			<h2></h2>
			<button action="change">reindex</button>
			<button action="remove">remove</button>
		</div>
	</div>
	<div class="menus">
		<ul>
			<li>option1</li>
			<li>option2</li>
			<li>option3</li>
		</ul>
	</div>
	<div class="types">
		<div class="service"">
			<img src="/static/images/api.png">
			<h1>API Requester</h1>
			<p>Creates a request <span style="font-weight: bold; color: orange;">
								work_type
								</span> node.<br>
				You can use this node to to extract data from any public source or anywhere you have access, 
				if you need credentials from an auth process try using our predefined
				<span style="font-weight: bold;">Auth nodes</span>
			</p>
			<button>chose</button>
		</div>
		<div class="service"">
			<img src="/static/images/service.png">
			<h1>Service Runner</h1>
			<p>Creates a proccess <span style="font-weight: bold; color: orange;">
				work_type
				</span> node.<br>
				This node is and entry point, its allowed to start the dataflow from itself,
				 you can link it to the 
				 <span style="font-weight: bold;">console</span> to see the request flow response.
				 <br>
				 Also attach <span style="font-weight: bold; color: brown;">triggers</span>
				 or <span style="font-weight: bold; color: brown;">replace</span> 
				 nodes to proccess the outputs etc...
				<!--<span style="font-weight: bold;
							font-size: 12px;
							color: grey;
							font-style: italic;">
				* You can also download the results</span>-->
			</p>
			<button>chose</button>
		</div>
		<div class="service">
			<img src="/static/images/fire-alarm.png">
			<h1>Trigger</h1>
			<p>Creates a process <span style="font-weight: bold; color: orange;">
				work_type
				</span> node.<br>
			Perfoms a simple comparission between data stored in the node, and the data transfered by the 
			<span style="font-weight: bold; color: darkcyan;">connection</span> 
			and returns a 
			<span style="font-weight: bold; color: rgb(34, 155, 34);">true</span> or 
			<span style="font-weight: bold; color: red;">false</span>
			value corresponding to the condition.
			</p>
			<button>chose</button>
		</div>
		<div class="service">
			<img src="/static/images/auth.png">
			<h1>Trigger</h1>
		</div>
		<div class="service">
			<img src="/static/images/social-network.png">
			<h1>Twitter</h1>
		</div>
		<div class="service">
			<img src="/static/images/message.png">
			<h1>Trigger</h1>
		</div>
	</div>
	<div class="container" board_id="{{ board.id }}">
	</div>
	<canvas class="canvas" id="canvas_connections">
	</canvas>
	<canvas class="grid_canvas" id="canvas_grid">
	</canvas>
	<div class="landing_zone">
		<h2>Landing Zone</h2>
	</div>
</body>
</html>