{% for node in nodes %}
<div class="node_container" name="{{ node.name }}_cont" node_id="{{ node.id }}"
	tag_color="{{ node.color }}" 
	style="border: 2px solid {{ node.color }};">
	<div class="node_up_bar">
		<div class="up" p_id="{{ node.id }}">
			<h1 class="tag_name">{{ node.name }}</h1>
			<!--<div class="work_toggle">
				<button class="request"
				{% if node.work_type == 'request' %}
					style="background-color: brown; color: white;"
				{% else %}
					style="color: rgb(160, 160, 160);"
				{% endif %}
				>request</button>
				<button class="process" 
				{% if node.work_type == 'process' %}
					style="background-color: rgb(29, 180, 29); color: white;"
				{% else %}
					style="color: rgb(160, 160, 160);"
				{% endif %}
				>process</button>
			</div>-->
		<div class="test_button" n_id="{{ node.id }}"

		{% if node.type == 'service' %}
		style="display: block;">
		{% else %}
		style="display:none;">
		{% endif %}
			</div>
		</div>
		<div class="tag_color" style="background-color: {{ node.color }}" id="{{ node.id }}">
			
		</div>
	</div>
	<!--<h4>info</h4>-->
	<div class="connections">
		<h2 con_id="{{ node.id }}"></h2>
	</div>
	<div class="grabber" parent="{{ node.name }}">

	</div>
	<div class="innodes">
		<h2 class="show_ins" style="z-index: 16;"></h2>
		{% for inno in node.innodes %}
		<h2 in_id="{{ inno }}"></h2>	
		{% endfor %}
		<h2 add_in_id="{{ node.id }}" class="add_in" style="z-index: 10;"></h2>
	</div>
	<div class="outnodes">
		<h2 class="show_outs" style="z-index: 16;"></h2>
		{% for outno in node.outnodes %}
		<h2 out_id="{{ outno }}" father="{{ node.id }}"></h2>
		{% endfor %}
		<h2 add_out_id="{{ node.id }}" class="add_out" style="z-index: 10;"></h2>
	</div>
	<div class="colors">
		{% for col in colors%}
		<button style="background-color: {{ col }};"
	
			color="{{ col }}"
			tag_id="{{ node.id }}"
			></button>
		{% endfor %}
		<h2 n_id="{{ node.id }}">save</h2>
	</div>
</div>
{% endfor %}
