:root {
	--font: 'Mallanna', sans-serif;
	--menu_back: #150135;
	--menu_li: #5e2454;
}
.menus {
	position: absolute;
	top: 116px;
	padding: 0px;
	background-color: var(--menu_back);
	z-index: 10;
	font-family: 'Mallanna', sans-serif;
	visibility: hidden;
}
.menus ul {
	margin: 0;
	padding: 0;
	
}
.menus li {
	list-style: none;
	cursor: pointer;
	
	margin: 0;
	padding: 8px 40px;
	border: 1px solid rgba(128, 128, 128, 0.24);
	color: white;

}
.menus li:hover {
	background-color: aquamarine;
	color: var(--menu_back);
}
.menus li:active {
	background-color: rgb(83, 9, 117);
	color: white;
}
.types {
	display: grid;
	background-color: rgba(0, 0, 0, 0.548);
	position: absolute;
	z-index: 20;
	width: 100vw;
	height: 100vw;
	padding: 30px 120px;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 340px 340px 340px;
	grid-row-gap: 40px;
	grid-column-gap: 40px;
	font-family: var(--font);
}
.types div {
	display: block;
	padding: 20px;
	background-color: white;
	border-radius: 12px;
	cursor: pointer;
}
.types img {
	width: 40px;
	height: 40px;
	background-color: rgba(255, 228, 196, 0.158);
	border: 1px solid rgba(128, 128, 128, 0.582);
	padding: 12px;
	border-radius: 12px;
	margin-left: 96px;
}
.types h1 {
	font-size: 20px;
	text-align: center;
}
.types p {
	line-height: 16px;
}
.types button {
	background-color: rgba(153, 229, 143, 0.678);
	color: green;
	padding: 12px;
	font-size: 14px;
	border-radius: 12px;
	border: none;
	cursor: pointer;
	outline: none;
	margin-left: 100px;
}
.types button:hover {
	box-shadow: 2px 2px 6px rgba(108, 189, 76, 0.527);
}
.types button:active {
	background-color: rgba(37, 145, 23, 0.678);
	color: white;
}
