<html lang="en">

<head>
	 <!-- Favicons -->
	 <link rel="apple-touch-icon" sizes="57x57" href="/static/theme/apple-icon-57x57.png">
	 <link rel="apple-touch-icon" sizes="60x60" href="/static/theme/apple-icon-60x60.png">
	 <link rel="apple-touch-icon" sizes="72x72" href="/static/theme/apple-icon-72x72.png">
	 <link rel="apple-touch-icon" sizes="76x76" href="/static/theme/apple-icon-76x76.png">
	 <link rel="apple-touch-icon" sizes="114x114" href="/static/theme/apple-icon-114x114.png">
	 <link rel="apple-touch-icon" sizes="120x120" href="/static/theme/apple-icon-120x120.png">
	 <link rel="apple-touch-icon" sizes="144x144" href="/static/theme/apple-icon-144x144.png">
	 <link rel="apple-touch-icon" sizes="152x152" href="/static/theme/apple-icon-152x152.png">
	 <link rel="apple-touch-icon" sizes="180x180" href="/static/theme/apple-icon-180x180.png">
	 <link rel="icon" type="image/png" sizes="192x192" href="/static/theme/android-icon-192x192.png">
	 <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	 <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	 <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	 <link rel="manifest" href="/static/manifest.json">
	 <meta name="msapplication-TileColor" content="#ffffff">
	 <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	 <meta
	 name="theme-color" content="#ffffff">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ board.name }} - Data in motion</title>
	<link rel="stylesheet" href="/static/styles/node.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/side_bar.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/container.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/canvas.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/slider.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/menus.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/board.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/new_node.css?{{ id }}">
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Mallanna&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet">
	<script type="text/javascript" src="/static/scripts/global.js?{{ id }}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/scripts/track_mouse.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/node_popup.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/views.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/tools.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/node_settings.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/connections.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/operations.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/draw.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/project_management.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/init.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/node_flow.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/media_player.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/walkthroughts.js?{{ id }}"></script>

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="/static/theme/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/theme/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/theme/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/theme/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/theme/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/theme/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/theme/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/theme/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/theme/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/static/theme/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/static/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta
	name="theme-color" content="#ffffff">
</head>

<body>
	<div class="top_bar">
		<div class="left_top">
			<ul class="utility_menu nav">
				<li class="back"><h2 action="user"><i class="fas fa-chevron-left fa-lg" title="Back"></i> &nbsp;</h2></li>
				<li>
					<h1><a href="#"><img class="logo" src="/static/images/logo.png?{{ id }}" alt="Data in Motion / Board id: {{ board.id }}" align="left"></a> &nbsp;</h1>
				</li>
				<li>
					<ul class="sub_nav">
						<li><h2 menu="nodes"><i class="fas fa-sticky-note fa-lg" title="New Node"></i> New Node</h2></li>
						<li><h2 menu="board"><i class="fas fa-sticky-note fa-lg" title="Board"></i> Board</h2></li>
						<li><h2 class="save"><i class="fas fa-save fa-lg" title="Save this board"></i> Save Board</h2></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="tools">
			<h1 class="board_name" style="cursor: pointer; margin-left: 40px; margin-bottom: 0;">
				{% if board.name != '' %}
					{{ board.name }}
				{% else %}
					Board name
				{% endif %}
				</h1>
			<input name="board_name" class="b_name" type="text" placeholder="Board name">
			<h2 class="trash_can"><i class="fas fa-trash fa-lg" title="Trash a node"></i>Grab a node here to delete it</h2>
		</div>
	</div>
	<div class="side_bar">
	</div>
	<div class="coords">
		<h2 class="x" style="width: 50px;"></h2>
		<h2 class="y" style="width: 50px;"></h2>
		<h2 class="selected" style="width: 300px;padding-top: 2px;">{{ board.id }}</h2>
		<button class="toggle_console"></button>
		<h2 class="console"><-- Click here to see the console output</h2>
	</div>
	<!--New Node form-->
	<div class="new_node_cont">
		<h2 class="close_node"></h2>
		<div class="progress">
			<ul>
				<li pos=0><h1>name</h1></li>
				<li pos=1><h1>service or custom</h1></li>
				<li pos=2><h1>request or proccess</h1></li>
				<li pos=3><h1>url</h1></li>
				<li pos=4><h1>headers</h1></li>
				<li pos=5><h1>data</h1></li>
				<li pos=6><h1>analisis mode</h1></li>
				<li pos=7><h1>analisis params</h1></li>
				<h2 class="li_save">save</h2>
			</ul>
		</div>
		<div class="node_cont_info gradient_2">
			<div class="step" step="0">
				<h3>Choose a name for this node</h3>
				<input name="n_name" type="text" placeholder="Ex: Download Image, Twitter send ...">
				<div class="flow">
					<div class="back">
						<h1>CLOSE</h1>
					</div>
					<div class="next">
						<h1>NEXT</h1>
						<h2 style="background-image: url(../static/images/right_arrow.png);"></h2>
					</div>
				</div>
			</div>


			<div class="step" step="1">
				<h4 class="help"></h4>
				<h3>this node is an Starter?</h3>
				<p>if yes, this node will trigger a new task and execute all the node flow
				</p>
				<label for=""><input name="is_service" style="cursor: pointer; width: 18px; margin: 0; margin-left: 44%;"
						type="checkbox">Yes</label>
				<div class="flow">
					<div class="back">
						<h2 style="background-image: url(../static/images/left_arrow.png);"></h2>
						<h1>PREVIOUS</h1>
					</div>
					<div class="next">
						<h1>NEXT</h1>
						<h2 style="background-image: url(../static/images/right_arrow.png);"></h2>
					</div>
				</div>
			</div>


			<div class="step" step="2">
				<h4 class="help"></h4>
				<h3>use this node to Request or Process the data</h3>
				<p>Choose
					<span style="font-weight: bold;">
						Request</span>
					for use this node to obtain data from an API source
					or use an url from a caller node to fetch data
					<br>
					Or
					<span style="font-weight: bold;">
						Process</span>
					to analyze and process the data provided to this node by the innodes or connections
				</p>
				<select name="w_type" id="">
					<option value="request" selected>Request</option>
					<option value="process">Process</option>
				</select>
				<div class="flow">
					<div class="back">
						<h2 style="background-image: url(../static/images/left_arrow.png);"></h2>
						<h1>PREVIOUS</h1>
					</div>
					<div class="next">
						<h1>NEXT</h1>
						<h2 style="background-image: url(../static/images/right_arrow.png);"></h2>
					</div>
				</div>
			</div>


			<div class="step" step="3">
				<h4 class="help"></h4>
				<h3>Where is the Data to fetch?</h3>
				<p>place the method for the request
					at the beggining as in the example, and then the URL where the data lives in <br>
					if no method is given the request will be treaten as a
					<span style="font-weight: bold;color: rgb(146, 240, 146);">
						GET
					</span>
					if you put "input" as the value, the node will look at the "url" key provided by the previous nodes
				</p>
				<input name="n_url" type="text" placeholder="GET https://api.nasa.gov/planetary/apod">
				<div class="flow">
					<div class="back">
						<h2 style="background-image: url(../static/images/left_arrow.png);"></h2>
						<h1>PREVIOUS</h1>
					</div>
					<div class="next">
						<h1>NEXT</h1>
						<h2 style="background-image: url(../static/images/right_arrow.png);"></h2>
					</div>
				</div>
			</div>


			<div class="step" step="4">
				<h4 class="help"></h4>
				<h3>Request Headers</h3>
				<label for="" style="width: 80%; text-align: left; margin: 0; margin-left: 30px; ">
					<input name="auth_check" style="cursor: pointer; width: 20px;" type="checkbox">Auth</label>
				<div class="auth_inputs" style="display: none;">	
					<h1>Authentication protocol	</h1>
					<select name="auth-protocol" id="" style="cursor: pointer;">
						<option value=""></option>
						<option value="oauth-1.0">OAuth 1.0</option>
						<option value="oauth-2.0">OAuth 2.0</option>
						<option value="bearer">Bearer</option>
					</select>
					<div class="auth_fields">
						<div class="bearer">
							<label for="">API key<input type="text"></label>
							<label for="">API secret<input type="text"></label>
						</div>
						<div class="oauth-1">
							<label for="">oauth_consumer_key<input type="text"></label>
							<label for="">oauth_token (optional)<input type="text"></label>
							<label for="">Key secret<input type="text"></label>
							<label for="">Token secret<input type="text"></label>
						</div>
					</div>
				</div>
				<p>Add the headers required to complete the request<br>
					Be sure of pressing "add" to append the new data
					<br>if you don't need any click next to
					<span style="font-weight: bold;">
						skip</span> this step
				</p>
				<ul list="headers">

				</ul>
				<div style="display: flex;">
					<input name="h_key" style="margin-left: 25%; width: 24%; max-height: 38px;" type="text"
						placeholder="Content-Type">
					<input name="h_value" style="margin-left: 2%; width: 24%; max-height: 38px;" type="text"
						placeholder="application/json">
					<button>add</button>
				</div>
				<div class="flow">
					<div class="back">
						<h2 style="background-image: url(../static/images/left_arrow.png);"></h2>
						<h1>PREVIOUS</h1>
					</div>
					<div class="next">
						<h1>NEXT</h1>
						<h2 style="background-image: url(../static/images/right_arrow.png);"></h2>
					</div>
				</div>
			</div>


			<div class="step" step="5">
				<h4 class="help"></h4>
				<h3>add the Data your node needs</h3>
				<p>add data for the request, or to use it for proccessing<br>
					Be sure of pressing "add" to append the new data
					<br>if you don't need any click next to
					<span style="font-weight: bold;">
						skip</span> this step
				</p>
				<ul list="data">

				</ul>
				<div style="display: flex;">
					<input name="d_key" style="margin-left: 25%; width: 24%; max-height: 38px;" type="text"
						placeholder="query">
					<input name="d_value" style="margin-left: 2%; width: 24%; max-height: 38px;" type="text"
						placeholder="cakes, cookies">
					<button>add</button>
				</div>
				<div class="flow">
					<div class="back">
						<h2 style="background-image: url(../static/images/left_arrow.png);"></h2>
						<h1>PREVIOUS</h1>
					</div>
					<div class="next">
						<h1>NEXT</h1>
						<h2 style="background-image: url(../static/images/right_arrow.png);"></h2>
					</div>
				</div>
			</div>



			<div class="step" step="6">
				<h4 class="help"></h4>
				<h3>Select the <span style="color: rgb(112, 226, 173);">process mode</span> for this node</h3>
				<p>Choose how to process the data that is collected by this node
					<br>
					or leave it empty to return the data without any processing
					<br>
					<br>
				</p>
				<select name="an_mode" id="">
					<option value="none" selected></option>
					<option value="statistics">Statistics</option>
					<option value="comparision">Comparision</option>
					<option value="replace">Generate phrase</option>
					<!--<option value="gen_signature">GenSignature</option>-->
					<option value="JSON">JSON</option>
					<option value="HTML">text or HTML</option>
					<option value="get_updates">check updates</option>
					<option value="media_player">media viewer</option>
					<option value="media_twitter">Twitter media upload</option>
				</select>
				<p content="analisis_mode"><span style="font-weight: bold;"> Mode info:</span></p>
				<div class="flow">
					<div class="back">
						<h2 style="background-image: url(../static/images/left_arrow.png);"></h2>
						<h1>PREVIOUS</h1>
					</div>
					<div class="next">
						<h1>NEXT</h1>
						<h2 style="background-image: url(../static/images/right_arrow.png);"></h2>
					</div>
				</div>
			</div>



			<div class="step" step="7">
				<h4 class="help"></h4>
				<h3>Analysis parameters</h3>
				<ul list="params">
				</ul>
				<div mode="comparision" style="display: none;">
					<input name="an_d_key" style="margin-left: 10%; width: 20%; max-height: 38px;" type="text"
						placeholder="data key">
					<select style="margin-left: 12px; margin-top: 10px;
									width: 20%;
									max-height: 38px;" name="cond" id="">
						<option value="==" selected>equal to</option>
						<option value="<">less than</option>
						<option value=">">greater than</option>
						<option value="in">contain</option>
					</select>
					<input name="comp_value" style="margin-left: 12px; width: 20%; max-height: 38px;" type="text"
						placeholder="comp value">
					<button>add</button>
				</div>
				<div mode="statistics" style="display: none;">
					<div style="display: flex;">
						<ul list="statistics_samples">
						</ul>
						<ul list="statistics_parameters">
						</ul>
					</div>
					<div style="display: flex;">
						<input name="samples" style="margin-left: 10%; width: 20%; max-height: 38px;" type="text"
						placeholder="samples">
						<button for="samples">add</button>
						<input name="parameters" style="margin-left: 12px; width: 20%; max-height: 38px;" type="text"
							placeholder="parameters">
						<button for="parameters">add</button>
					</div>
					<div style="display: none;">
						<h1>Choose graphics</h1>
						<select style="margin-left: px; margin-top: 10px;
									width: 20%;
									max-height: 38px;" name="cond" id="">
							<option value="" selected></option>
							<option value="cake">Cake</option>
							<option value="bars">Bars</option>
						</select>
					</div>
				</div>
				<div mode="replace" style="display: none;">
					<div style="display: block;width: 100%;">
						<textarea name="string" style="margin-left: 15%; width: 80%; height: 100px;" type="text"
							placeholder="Text to insert the {data key} founded in the node"></textarea>
						<!-- <div style="display: flex;">
							<input name="r_key" style="margin-left: 35%; width: 20%; max-height: 38px;" type="text"
								placeholder="data key">
							<button>add</button>
						</div> -->
					</div>
				</div>
				<div mode="gen_signature" style="display: none;">
					<input name="g_key1" style="margin-left: 20%; width: 30%; max-height: 38px;" type="text"
						placeholder="key secret">
					<input name="g_key2" style="margin-left: 12px; width: 30%; max-height: 38px;" type="text"
						placeholder="token secret">
				</div>
				<div mode="JSON" style="display: none;">
					<input name="j_key" style="margin-left: 12%; width: 30%; max-height: 38px;" type="text"
						placeholder="key">
					<input name="j_path" style="margin-left: 12px; width: 30%; max-height: 38px;" type="text"
						placeholder="path">
					<button>add</button>
				</div>
				<div mode="HTML" style="display: none;">
					<div style="width: 100%; display: block;">
						<div style="display: flex;">
							<input name="html_disc" style="cursor: pointer;
														margin-left: 12%;
														margin-right: 0;
														width: 20px;
														max-height: 20px;" type="checkbox" placeholder="occurrence">
							<h4 style="text-align: left;
										position: relative;
										padding: 0;
										margin: 4px 0 0 0;
										font-size: 12px;
										font-family: 'Mallanna', sans-serif;
										color: white;
										">
								discard the occurrence pattern from the extracted value?</h4>
						</div>
						<div style="width: 100%; display: flex;">
							<input name="html_occ" style="margin-left: 12%; width: 30%; max-height: 38px;" type="text"
								placeholder="occurrence">
							<input name="html_stop" style="margin-left: 12px; width: 30%; max-height: 38px;" type="text"
								placeholder="stop sequence">
							<button>add</button>
						</div>
					</div>
				</div>
				<div mode="get_updates" style="display: none;">
					<input name="upd_key" style="margin-left: 12%; width: 30%; max-height: 38px;" type="text"
						placeholder="key">
					<input name="upd_path" style="margin-left: 12px; width: 30%; max-height: 38px;" type="text"
						placeholder="path">
					<button>add</button>
				</div>
				<p content="analisis_info">
				</p>
				<div class="flow">
					<div class="back">
						<h2 style="background-image: url(../static/images/left_arrow.png);"></h2>
						<h1>PREVIOUS</h1>
					</div>
					<div class="next">
						<h1>SAVE</h1>
						<h2 style="background-image: url(../static/images/right_arrow.png);"></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end of new node filler-->
	<div class="outnode_settings">
		<div class="out_opts">
			<h2></h2>
			<!-- <button action="change">reindex</button> -->
			<button action="remove">remove</button>
		</div>
	</div>
	<div class="menus">
		<ul>
			<li>option1</li>
			<li>option2</li>
			<li>option3</li>
		</ul>
	</div>
	<div class="container" board_id="{{ board.id }}">
	</div>
	<canvas class="canvas" id="canvas_connections">
	</canvas>
	<canvas class="grid_canvas" id="canvas_grid">
	</canvas>
	<div class="landing_zone">
		<h2>Landing Zone</h2>
	</div>
	<div class="console_cont">
		<h1></h1>
		<div class="data_extractor">
		</div>
	</div>
	<div class="loading">
		<div></div>
		<h1>Running node logic flow</h1>
	</div>
	<div class="import">
		
	</div>
	<div class="walkthrought">
		<div class="walk_window">

		</div>
	</div>
</body>

</html>
