<html lang="en">
<head>
	 <!-- Favicons -->
	 <link rel="apple-touch-icon" sizes="57x57" href="/static/theme/apple-icon-57x57.png">
	 <link rel="apple-touch-icon" sizes="60x60" href="/static/theme/apple-icon-60x60.png">
	 <link rel="apple-touch-icon" sizes="72x72" href="/static/theme/apple-icon-72x72.png">
	 <link rel="apple-touch-icon" sizes="76x76" href="/static/theme/apple-icon-76x76.png">
	 <link rel="apple-touch-icon" sizes="114x114" href="/static/theme/apple-icon-114x114.png">
	 <link rel="apple-touch-icon" sizes="120x120" href="/static/theme/apple-icon-120x120.png">
	 <link rel="apple-touch-icon" sizes="144x144" href="/static/theme/apple-icon-144x144.png">
	 <link rel="apple-touch-icon" sizes="152x152" href="/static/theme/apple-icon-152x152.png">
	 <link rel="apple-touch-icon" sizes="180x180" href="/static/theme/apple-icon-180x180.png">
	 <link rel="icon" type="image/png" sizes="192x192" href="/static/theme/android-icon-192x192.png">
	 <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	 <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	 <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	 <link rel="manifest" href="/static/manifest.json">
	 <meta name="msapplication-TileColor" content="#ffffff">
	 <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	 <meta
	 name="theme-color" content="#ffffff">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Data in motion</title>
	<link rel="stylesheet" href="../static/styles/node_editor.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/node.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/side_bar.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/container.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/canvas.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/slider.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/menus.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/board.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/new_node.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/calendar.css?{{ id }}">
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Mallanna&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet">
	<script type="text/javascript" src="/static/scripts/global.js?{{ id }}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/scripts/track_mouse.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/node_popup.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/views.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/tools.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/lite.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/node_settings.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/connections.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/operations.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/draw.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/project_management.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/init.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/node_flow.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/node_editor.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/media_player.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/WhatsappRegister.js?{{ id }}"></script>
	<!-- <script type="text/javascript" src="/static/scripts/walkthroughts.js?{{ id }}"></script> -->
	<script type="text/javascript" src="/static/scripts/calendar.js?{{ id }}"></script>

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="/static/theme/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/theme/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/theme/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/theme/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/theme/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/theme/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/theme/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/theme/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/theme/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/static/theme/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/static/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta
	name="theme-color" content="#ffffff">
</head>

<body>
	<div class="top_bar">
		<div class="left_top">
			<ul class="utility_menu nav">
				<li class="back"><h2 action="user"><i class="fas fa-chevron-left fa-lg" title="Back"></i> &nbsp;</h2></li>
				<li>
					<h1><a href="#"><img class="logo" src="/static/images/logo.png?{{ id }}" alt="Data in Motion" align="left"></a> &nbsp;</h1>
				</li>
				<li>
					<ul class="sub_nav">
						<li><h2 menu="nodes"><i class="fas menu-nodes fa-lg" title="New Node"></i> New Node</h2></li>
						<li><h2 menu="board"><i class="fas menu-board fa-lg" title="Board"></i> Board</h2></li>
						<!-- <li><h2 class="save"><i class="fas fa-save fa-lg" title="Save this board"></i> Save Board</h2></li> -->
						<li><h2 menu="users"><i class="fas menu-users fa-lg" title="Add new user"></i> Add new User</h2></li>
						<li><h2 menu="whatsapp_register"><i class="fas menu-users fa-lg" title="WhatsApp Register"></i>WhatsApp Register</h2></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="tools">
			<h1 class="board_name" style="cursor: pointer; margin-left: 40px; margin-bottom: 0;">
				{{ board.name }}
				</h1>
			<input name="board_name" class="b_name" type="text" placeholder="Board name">
			<h2 class="trash_can"><i class="fas fa-trash fa-lg" title="Trash a node"></i>Grab here to delete</h2>
		</div>
		<div class="owner_tag">
			<h2>Owner: {{ owner }}</h2>
		</div>
	</div>
	<div class="side_bar">
	</div>
	<div class="coords">
		<h2 class="x" style="width: 50px;"></h2>
		<h2 class="y" style="width: 50px;"></h2>
		<h2 class="selected" style="width: 300px;padding-top: 2px;"></h2>
		<button class="toggle_console"></button>
		<h2 class="console"><-- Click here to see the console output</h2>
	</div>
	<!--New Node form-->
	<div class="new_node_cont">
		<h2 class="close_node"></h2>
		<div id="node_editor">
			<button class="back">back</button>
			<button class="next">next</button>
			<ul class="progress_bar">
				<li>
					data
				</li>
			</ul>
			<h1 class="title">Title</h1>
			<p class="description"></p>
			<div id="cont">
			</div>
		</div>
	</div>
	<!--end of new node filler-->
	<div class="outnode_settings">
		<div class="out_opts">
			<h2></h2>
			<!-- <button action="change">reindex</button> -->
			<button action="remove">remove</button>
		</div>
	</div>
	<div class="menus">
		<ul>
			
		</ul>
	</div>
	<div class="add_user">
		<div cont="add">
			<label for="new_user">Add editors for this board</label>
			<input name="new_user" id="new_user" placeholder="Enter an email address...">
			<div cont="buttons">
				<button close="true">close</button>
				<br>
				<button add="true">add</button>
			</div>
		</div>
	</div>
	<div class="container" board_id="{{ board.id }}">
	</div>
	<canvas class="canvas" id="canvas_connections">
	</canvas>
	<canvas class="grid_canvas" id="canvas_grid">
	</canvas>
	<div class="landing_zone">
		<h2>Landing Zone</h2>
	</div>
	<div class="console_cont">
		<h1></h1>
		<div class="data_extractor">
		</div>
	</div>
	<div class="loading">
		<button stop="true">STOP</button>
		<div class="last_state">
			<div class="loading_gif"></div>
			<h1>Running node logic flow</h1>
		</div>
		<div class="qr">
			<h2 class="close_qr"></h2>
		</div>
		<div class="html_viewer">
		</div>
		<ul>
		</ul>
	</div>
	<div class="import">
		
	</div>
	<div class="walkthrought">
		<div class="walk_window">

		</div>
	</div>
	<div id="root"></div>
	<div class="wpp_cont">
		<div form="whatsapp_node">
			<h3 close="whatsapp"></h3>
			<h3 save="whatsapp">save</h3>
			<h1>WhatsApp Sender</h1>
			<!-- <label for="">Send from:&nbsp;<input name="wpp_admin" type="text" placeholder="Sender Phone number"></label> -->
			<!-- <div select="gif">
				<h2>GIF</h2>&nbsp;&nbsp; -->
				<!-- <h2>JPG</h2>&nbsp;&nbsp;
				<h2>PNG</h2>&nbsp;&nbsp; -->
				<!-- <input name="giphy" style="display:none;" type="text" placeholder="Search at GIPHY">
			</div> -->
			<h2 show="true">Select an option:</h2>
			<div select="contacts">
				<h2 style="display: none;" edit="true">keep editing</h2>
				<h2 create="true">create new list</h2>
				<h2 connect="true">connect to existing list</h2>
				<input type="file" id="csv" value="Upload CSV file" accept=".csv" style="display: none;">
				<input class="csv-upload" type="button" value="Upload CSV file...">
			</div>
			<div class="contacts_lists">
				<ul></ul>
			</div>
			<div contacts="true">
				<input name="contact_name" type="text" placeholder="Contact Name">
				<input name="contact_number" type="text" placeholder="Phone Number">
				<button>add Contact</button>
				<label style="color: #363636;" for="">Contacts in:</label>
				<ul>
				</ul>
			</div>
			<!-- <label for="twilio">USe Twilio?</label><input type="checkbox" id="twilio"> -->
		</div>
	</div>
</body>

</html>
