<html lang="en">
<head>
	 <!-- Favicons -->
	 <link rel="apple-touch-icon" sizes="57x57" href="/static/theme/apple-icon-57x57.png">
	 <link rel="apple-touch-icon" sizes="60x60" href="/static/theme/apple-icon-60x60.png">
	 <link rel="apple-touch-icon" sizes="72x72" href="/static/theme/apple-icon-72x72.png">
	 <link rel="apple-touch-icon" sizes="76x76" href="/static/theme/apple-icon-76x76.png">
	 <link rel="apple-touch-icon" sizes="114x114" href="/static/theme/apple-icon-114x114.png">
	 <link rel="apple-touch-icon" sizes="120x120" href="/static/theme/apple-icon-120x120.png">
	 <link rel="apple-touch-icon" sizes="144x144" href="/static/theme/apple-icon-144x144.png">
	 <link rel="apple-touch-icon" sizes="152x152" href="/static/theme/apple-icon-152x152.png">
	 <link rel="apple-touch-icon" sizes="180x180" href="/static/theme/apple-icon-180x180.png">
	 <link rel="icon" type="image/png" sizes="192x192" href="/static/theme/android-icon-192x192.png">
	 <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	 <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	 <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	 <link rel="manifest" href="/static/manifest.json">
	 <meta name="msapplication-TileColor" content="#ffffff">
	 <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	 <meta
	 name="theme-color" content="#ffffff">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Data in motion</title>
	<link rel="stylesheet" href="/static/styles/node.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/side_bar.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/container.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/canvas.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/slider.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/menus.css?{{ id }}">
	<link rel="stylesheet" href="/static/styles/board.css?{{ id }}">
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Mallanna&display=swap" rel="stylesheet">
	<script type="text/javascript" src="/static/scripts/global.js?{{ id }}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/scripts/views.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/draw.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/project_management.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/init.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/boards_trashcan.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/DOMManager.js?{{ id }}"></script>
	<script type="text/javascript" src="/static/scripts/ActiveServices.js?{{ id }}"></script>
</head>
<body id="boards">
	<div class="top_bar">
		<div class="left_top">
			<h1><a href="/"><img class="logo" src="/static/images/logo.png?{{ id }}" alt="Data in Motion" align="left"></a> &nbsp;</h1>
		</div>
		<h1 class="grab_message" style="position: absolute;
										top: 10;
										right: 18px;
										line-height: 16px;
										text-align: center;">Grab a board here to delete it</h1>
		<h6 class="delete_sign">Delete Board</h6>
	</div>
	<div class="active_cont">
	</div>
	<div class="side_bar">
	</div>
	<div class="container" style="top: 0;">
	</div>
	<canvas class="grid_canvas" id="canvas_grid">
	</canvas>
</body>
</html>
