<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
    <html
    class="no-js"> <!--<![endif]-->

    <head>

        <!-- Basic Page Needs -->
        <meta charset="utf-8">
        <title>Data in Motion - data triggered social engagement system</title>
        <meta name="description" content="">
        <meta
        name="author" content="">

        <!-- Mobile Specific Metas -->
        <meta
        name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="57x57" href="/static/theme/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/theme/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/theme/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/theme/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/theme/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/theme/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/theme/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/theme/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/theme/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/static/theme/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/static/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta
        name="theme-color" content="#ffffff">

        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Mallanna&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900'>
        <link
        rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins:100,300,400,400italic,500,700,700italic%7CQuicksand:100,300,400,400italic,500,700,700italic'>

        <!-- CSS -->
        <link rel='stylesheet' href='/static/css/global.css?{{ id }}'>
        <link rel='stylesheet' href='/static/styles/index.css?{{ id }}'>
        <link rel='stylesheet' href='/static/theme/css/structure.css'>
        <link rel='stylesheet' href='/static/theme/css/company4.css'>
        <link
        rel='stylesheet' href='/static/theme/css/custom.css'>

        <!-- Revolution Slider -->
        <link rel="stylesheet" href="/static/vendor/rs-plugin/css/settings.css">
        <!-- launch DEMO -->
        <!-- <script type="text/javascript" src="/static/scripts/global.js?{{ id }}"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/scripts/demo.js?{{ id }}"></script>
        
    </head>

    <body class="home page-template-default page template-slider color-custom style-simple button-flat layout-full-width one-page no-content-padding header-classic minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-right menuo-no-borders mobile-tb-center mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky be-reg-2108">
        <div id="Wrapper">
            <div id="Header_wrapper">
                <header id="Header">
                    <div id="Top_bar">
                        <div class="container">
                            <div class="column one">
                                <div class="top_bar_left clearfix">
                                    <div class="logo">
                                        <a id="logo" href="/" title="Data in Motion" data-height="60" data-padding="25"><img class="logo-main scale-with-grid" src="/static/theme/images/logo.png" data-retina="/static/theme/images/logo-retina.png" data-height="39" data-no-retina><img class="logo-sticky scale-with-grid" src="/static/theme/images/logo.png" data-retina="/static/theme/images/logo-retina.png" data-height="39" data-no-retina><img class="logo-mobile scale-with-grid" src="/static/theme/images/logo.png" data-retina="/static/theme/images/logo-retina.png" data-height="39" data-no-retina><img class="logo-mobile-sticky scale-with-grid" src="/static/theme/images/logo.png" data-retina="/static/theme/images/logo-retina.png" data-height="39" data-no-retina></a>
                                    </div>
                                    <div class="menu_wrapper">
                                        <nav id="menu">
                                            <ul id="menu-menu" class="menu menu-main">
                                                <!-- <li>
                                                    <a href="#Header_wrapper">
                                                        <span>Home</span>
                                                    </a>
                                                </li> -->
                                                 <li id="loginButton">
                                                    <a href="/login">
                                                        <span>Login</span>
                                                    </a>
                                                </li>
                                                <li id="registerButton">
                                                    <a href="/register">
                                                        <span>Sign Up</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                        <a class="responsive-menu-toggle" href="#">
                                            <i class="icon-menu-fine"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main_banner">
                        <img class="banner" src="/static/svg/main_banner.svg">
                        <div class="features">
                            <ul>
                                <li>
                                    <img src="/static/svg/code.svg">
                                    <a href="#zero_coding">Zero coding</a>
                                </li>
                                <li>
                                    <img src="/static/svg/hand_bold.svg">
                                    <a href="#easy_to_learn">Easy to learn!</a>
                                </li>
                                <li>
                                    <img src="/static/svg/trigger.svg">
                                    <a href="#schedule_jobs">Schedule jobs</a>
                                </li>
                                <li>
                                    <img src="/static/images/whatsapp_white_logo.png">
                                    <a href="#whatsapp_automation">Whatsapp Automation</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
            </div>
            <div id="Content">
                <div class="content_wrapper clearfix">
                    <div class="sections_group">
                        <div class="entry-content">
                            <div class="section mcb-section mcb-section-d9ql0unwm" id="process" style="padding-top:40px; padding-bottom:0px; background-color: transparent">
                                <div class="section_wrapper mcb-section-inner">
                                    <div class="wrap mcb-wrap mcb-wrap-p966kob13 one valign-top clearfix" style="padding:0 1%">
                                        <div class="mcb-wrap-inner">
                                            <div class="what_is">
                                                    <h3>DataInMotion is...</h3>
                                                    <p>The right tool to create your automation flows, it can interact with data, process it and deliver it by communicating with other services on the internet.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap mcb-wrap mcb-wrap-fy1ov8bfa one-third valign-top clearfix" style="padding:0 1%">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column mcb-item-5cbnk8y4k one column_image">
                                                <div class="image_frame image_item no_link scale-with-grid no_border">
                                                    <div class="image_wrapper"><img class="scale-with-grid" src="/static/theme/images/about.png">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column mcb-column mcb-item-j457c72mq one column_column">
                                                <div class="column_attr clearfix" style>
                                                    <p class="themecolor">
                                                        The Data
                                                    </p>
                                                    <h4>Get the data you need from any source.</h4>
                                                    <p>
                                                        We provide you with the tools to reach the data you need and perform a variety of operations
                                                        so you can get best insights from your interests.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap mcb-wrap mcb-wrap-vzzuq977s one-third valign-top clearfix" style="padding:0 1%">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column mcb-item-u7wo3obj1 one column_image">
                                                <div class="image_frame image_item no_link scale-with-grid no_border">
                                                    <div class="image_wrapper"><img class="scale-with-grid" src="/static/theme/images/about-2.png">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column mcb-column mcb-item-kh360nt4r one column_column">
                                                <div class="column_attr clearfix" style>
                                                    <p class="themecolor">
                                                        Actions
                                                    </p>
                                                    <h4>Test and interact</h4>
                                                    <p>
                                                        Check the data in realtime, interact with it and create more complex services.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap mcb-wrap mcb-wrap-cxrviddqv one-third valign-top clearfix" style="padding:0 1%">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column mcb-item-x6v6xzmnz one column_image">
                                                <div class="image_frame image_item no_link scale-with-grid no_border">
                                                    <div class="image_wrapper"><img class="scale-with-grid" src="/static/theme/images/about-3.png">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column mcb-column mcb-item-xkx4hjeub one column_column">
                                                <div class="column_attr clearfix" style>
                                                    <p class="themecolor">
                                                        Knowledge
                                                    </p>
                                                    <h4>Distribute it</h4>
                                                    <p>
                                                        Set a target, a custom message and a distribution list on Twitter, WhatsApp, Email so the people you want to reach are aware of these important contents you created from the data.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wrap mcb-wrap mcb-wrap-fb3i3px5c one valign-top clearfix">
                                        <div class="mcb-wrap-inner">
                                            <div class="column mcb-column mcb-item-rhdolfq21 one column_divider">
                                                <hr class="no_line" style="margin: 0 auto 50px;">
                                            </div>
                                            <div class="column mcb-column mcb-item-lbak6bxk0 one column_divider">
                                                <hr class style="margin: 0 auto 1px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Screenshots Section -->


                            <!-- Services Section -->
                            <div id="zero_coding" class="about_section left">
                                <div class="section_content">
                                    <h2>Zero coding
                                    </h2>
                                    <p>You don't have to be a 
                                        <span style="color: rgb(192, 2, 91);">programmer </span>to create.
                                        <br><br> Start with DataInMotion to learn more about the internet, check our tutorial on how to create your first 
                                        <span style="color: rgb(22, 189, 133);">Service</span>
                                        <br><br>Challenge <span style="color: rgb(233, 160, 24);">yourself!!.</span>
                                    </p>
                                        
                                </div>
                                <div class="section_content_box">
                                    <img src="/static/svg/zero_coding.svg">
                                    <button>tutorial</button>
                                </div>
                            </div>
                            <div id="easy_to_learn" class="about_section left">
                                <div class="section_content_box">
                                    <img src="/static/svg/easy_to_learn.svg">
                                    <button>try demo</button>
                                </div>
                                <div class="section_content">
                                    <h2>Easy to learn
                                    </h2>
                                    <p>Access a 
                                        <span style="color: rgb(192, 2, 91);">complete</span>
                                         platform to design your services, edit your flows and make tests in the same interface, discover the results much faster and get the best from your data.</p>
                                </div>
                            </div>
                            <div id="schedule_jobs" class="about_section right">
                                <div class="section_content">
                                    <h2>Schedule Jobs
                                    </h2>
                                    <p>
                                        <span style="color: rgb(163, 73, 181);">Run</span> 
                                        and
                                        <span style="color: rgb(163, 73, 181);">deliver</span> 
                                        at the right time.
                                        <br><br>Automate services by telling your flow when to run and how often.
                                        <br><br>Take control of your <span style="color: rgb(233, 160, 24);">time!!.</span>
                                    </p>
                                </div>
                                <div class="section_content_box">
                                    <img src="/static/svg/schedule_jobs.svg">
                                </div>
                            </div>
                            <div id="whatsapp_automation" class="about_section right">
                                <div class="section_content_box">
                                    <img src="/static/svg/whatsapp_automation.svg">
                                </div>
                                <div class="section_content">
                                    <h2>WhatsApp Automation
                                    </h2>
                                    <p>
                                        Deliver 
                                        <span style="color: rgb(4, 157, 129);">automated </span>
                                         messages to attract an audience or report them about your insights, and reach the highest impact levels on your strategies.
                                         <br><br>Take control of your 
                                         <span style="color: rgb(233, 160, 24);">goals!!.</span>
                                    </p>
                                </div>
                            </div>

                            <!-- Developers -->

                            <div developers="about">
                                <h1>DataInMotion Team</h1>
                                <ul>
                                    <li>
                                        <img src="/static/images/alejo.png">
                                    </li>
                                    <li>
                                        <img src="/static/images/victor.png">
                                    </li>
                                    <li>
                                        <img src="/static/images/daniel.png">
                                    </li>
                                </ul>
                                <div info="crew">
                                    <h5></h5>
                                    <p></p>
                                    <div info="links">
                                        <a href="#" target="_blank" class="social_button github">
                                        </a>
                                        <a href="#" target="_blank" class="social_button twitter">
                                        </a>
                                        <a href="#" target="_blank" class="social_button linkedin">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer id="Footer" class="clearfix">
                <div class="widgets_wrapper" style="padding:90px 0;">
                    <div class="container">
                        <div class="column one">
                            <aside class="widget_text widget widget_custom_html">
                                <div class="textwidget custom-html-widget">
                                    <div style="text-align:center;">
                                        <img src="/static/theme/images/logo-footer.png">
                                        <hr class="no_line" style="margin: 0 auto 30px;">
                                        <p style="text-align: center;">
                                            Share the best from your data.
                                        </p>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
                <div class="footer_copy">
                    <div class="container">
                        <div class="column one">
                            <a id="back_to_top" class="button button_js" href>
                                <i class="icon-up-open-big"></i>
                            </a>
                            <div class="copyright">
                                &copy; 2020 Data in Motion, coded with love from Cali, Colombia
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div class="loginContainer">
        </div>
        <style>
            .loginContainer {
                width: 400px;
                position: absolute;
                left: 20px;
                top: 20px;
                display: none;
                z-index: 20;
            }
            #registerButton span{
                background-color: rgb(148, 76, 206);
                border-radius: 12px;
                line-height: 60px;
                vertical-align: middle;
                color: white;
            }
            #registerButton span:hover {
                background-color: rgb(100, 39, 150);
            }
        </style>


        <!-- JS -->
        <script src="/static/js/jquery-2.1.4.min.js"></script>
        <script src="/static/scripts/global.js"></script>
        <script src="/static/js/mfn.menu.js"></script>
        <script src="/static/js/jquery.plugins.js"></script>
        <script src="/static/js/jquery.jplayer.min.js"></script>
        <script src="/static/js/animations/animations.js"></script>
        <script src="/static/js/translate3d.js"></script>
        <script src="/static/js/scripts.js?{{ id }}"></script>
        <script src="/static/js/login.js?{{ id }}"></script>


        <script src="/static/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
        <script src="/static/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

        <script src="/static/vendor/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
        <script src="/static/vendor/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="/static/vendor/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="/static/vendor/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="/static/vendor/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script src="/static/vendor/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="/static/vendor/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
        <script src="/static/vendor/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
        <script>
            window.onload = function () {
                const team = [
                    { 
                        name: 'Alejandro Lopez',
                        description: 
                        `
                        Software Developer continuously working on find ways to problem-solving
                        using creativity and self-learning.
                        `,
                        github: 'https://github.com/alejolo311',
                        linkedin: 'https://www.linkedin.com/in/alejolo311/',
                        twitter: 'https://twitter.com/Alejolo311'
                    },
                    { 
                        name: 'Victor Hernandez',
                        description: 
                        `
                        A creative person converting ideas to reality, 
                        searching for new ways to use, and empower technology to the people.
                        `,
                        github: 'https://github.com/vik407',
                        linkedin: 'https://www.linkedin.com/in/victorhernandezduran/',
                        twitter: 'https://twitter.com/vik407'
                    },
                    { 
                        name: 'Daniel Rodriguez',
                        description: 
                        `
                        A Doer who likes to be involved in challenging projects, thinking,
                        and creating out of the box solutions motivated by collaborative work.
                        `,
                        github: 'https://github.com/Danucas',
                        linkedin: 'https://www.linkedin.com/in/Danucas',
                        twitter: 'https://twitter.com/Danucas1'


                    }
                    
                ]
                const crew = document.querySelector('[developers="about"] ul');
                let index = 0;
                for (const member of crew.querySelectorAll('li')) {
                    const i = index;
                    member.addEventListener('mouseover', function (evn) {
                        const infoTag = crew.parentNode.querySelector('[info="crew"] p');
                        infoTag.innerHTML = team[i].description;
                        const nameTag = crew.parentNode.querySelector('[info="crew"] h5');
                        nameTag.innerHTML = team[i].name;
                        for (const mm of crew.querySelectorAll('li')){
                            mm.style.borderBottom = 'none';
                        }
                        const links = document.querySelectorAll('[info="links"] a')
                        links[0].href = team[i].github;
                        links[1].href = team[i].twitter;
                        links[2].href = team[i].linkedin;
                        member.style.borderBottom = '6px solid #c1adc4';
                    });
                    index++;
                }
            }
        </script>
        <script>
            var revapi1,
                tpj;
            (function () {
                if (!/loaded|interactive|complete/.test(document.readyState)) 
                    document.addEventListener("DOMContentLoaded", onLoad);
                 else 
                    onLoad();
                function onLoad() {
                    if (tpj === undefined) {
                        tpj = jQuery;
                        if ("off" == "on") 
                            tpj.noConflict();
                    }
                    if (tpj("#rev_slider_1_1").revolution == undefined) {
                        revslider_showDoubleJqueryError("#rev_slider_1_1");
                    } else {
                        revapi1 = tpj("#rev_slider_1_1").show().revolution({
                            sliderType: "standard",
                            sliderLayout: "auto",
                            dottedOverlay: "none",
                            delay: 9000,
                            navigation: {
                                onHoverStop: "off"
                            },
                            visibilityLevels: [
                                1240, 1024, 778, 480
                            ],
                            gridwidth: 1240,
                            gridheight: 740,
                            lazyType: "none",
                            shadow: 0,
                            spinner: "spinner3",
                            stopLoop: "off",
                            stopAfterLoops: -1,
                            stopAtSlide: -1,
                            shuffle: "off",
                            autoHeight: "off",
                            disableProgressBar: "on",
                            hideThumbsOnMobile: "off",
                            hideSliderAtLimit: 0,
                            hideCaptionAtLimit: 0,
                            hideAllCaptionAtLilmit: 0,
                            debugMode: false,
                            fallbacks: {
                                simplifyAll: "off",
                                nextSlideOnWindowFocus: "off",
                                disableFocusListener: false
                            }
                        });
                    };
                }
            }());
        </script>
    </body>
</html>
