/* Data extractor section */
.console_cont {
	display: none;
	top: 0;
	left: 0;
	width: 80%;
	height: 100vh;
	position: absolute;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.616);
	padding: 20px 10%;
	backdrop-filter: blur(5px);
	overflow-y: scroll;
}
.data_extractor {
	overflow-x: hidden;
	max-height: calc(100% - 200px);
	font-family: var(--font);
	color: black;
	padding: 20px;
	background-color: white;
	border: none;
	line-height: 14px;
	cursor: pointer;
	overflow-y: scroll;
}
.data_extractor::-webkit-scrollbar {
	width: 10px;
}
.data_extractor::-webkit-scrollbar-thumb {
	background-color: purple;
}
div[node="true"] {
	display: flex;
}
.console_cont div {
	margin: 0;
}
.console_cont h1 {
	margin: 10px;
	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
	background-image: url(../images/close.png);
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: center;
}
.console_cont h1:hover {
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.747);
}
.console_cont h1:active {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.554);
	background-color: rgb(236, 236, 236);
}
.data_extractor {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;

}
.data_extractor h2 {
	margin-top: 0;
	margin: 2px;
	width: fit-content;
	max-width: 90%;
	word-wrap: break-word;
	background-color: #3200FF;
	color: white;
	font-family: var(--font);
	padding: 4px 16px;
	border-radius: 8px;
	cursor: pointer;
	font-size: 16px;
}
.data_extractor h2:hover {
	background-color: rgb(61, 61, 206);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
}
.data_extractor h2:active {
	background-color:rgb(177, 177, 192);
}
.data_extractor h3 {
	background-color: black;
	border-radius: 12px;
	color: white;
	text-align: center;
	padding: 4px 12px;
	margin: 0px 2px;
	font-size: 14px;
	max-height: 18px;
}
.data_extractor h3:hover {
	display: block;
	background-color: rgb(83, 83, 83);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.575);
}
.data_extractor h3:active {
	background-color: white;
	border: 1px solid black;
	color: black;
}
.data_extractor li {
	list-style: none;
}
.logger_obj_options {
	/* align-content: flex-end;
	position: absolute;
	left: 20px; */
	visibility: hidden;
	display: flex;
	width: fit-content;
}
.data_extractor h4 {
	font-size: 26px;
	margin-left: 50px;
	color: rgb(53, 87, 75);
	cursor: default;
}
.runs_list li {
	list-style: none;
	margin: 4px 12px;
	padding: 12px 24px;
	background-color: white;
	width: fit-content;
	border-radius: 12px;
	font-size: 22px;
	font-weight: bold;
	background-color: rgb(201, 180, 211);
	color: white;
}
.runs_list li:hover {
	filter: saturate(1.6);
}
.runs_list li:active {
	filter: saturate(0.6);
}