<div class="calendar">
	<div class="calendar_head">
		<button nav="prev"></button>
		<h1></h1>
		<button nav="next"></button>
	</div>
	<ul class="days">
		<li>S</li>
		<li>M</li>
		<li>T</li>
		<li>W</li>
		<li>T</li>
		<li>F</li>
		<li>S</li>
	</ul>
	<ul class="days_selector">
	</ul>
	<div class="time_selector">
		<select name="hour" id="">
			{% for i in range(1, 13) %}
			<option value="{{ i }}">{{ i }}</option>
			{% endfor %}
		</select>
		<h1>:</h1>
		<select name="minute" id="">
			{% for i in range(0, 60) %}
			<option value="{{ i }}">{{ i }}</option>
			{% endfor %}
		</select>
		<select name="noon" id="">
			<option value="0">am</option>
			<option value="1">pm</option>
		</select>
		<button save="calendar">Save</button>
	</div>
</div>