.canvas {
	position: absolute;
	/* background-color: red; */
	margin-left: 80px;
	margin-top: 44px;
	z-index: 1;
}
.grid_canvas {
	position: absolute;
	background-color: white;
	/* margin-left: 20%; */
	z-index: 0;
	color: #e6e6e654;
}
